<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dnk_meme.description %>
</p>

<%= link_to 'Edit', edit_dnk_meme_path(@dnk_meme) %> |
<%= link_to 'Back', dnk_memes_path %>
